* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 20px;
    text-align: start;
}

h1 {
    margin-bottom: 20px;
    font-size: 1.8em;
}

.main-conteiner {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
    width: 100%;
    max-width: auto;
    margin: 0 auto;
}

.box {
    height: 140px;
    background-color: rgb(107, 126, 188);
    background-image: url('placeholder-image.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.name {
    text-align: center;
    font-size: 1em;
    color: black;
    margin-top: 5px;
}


.description {
    margin-top: 20px;
    font-size: 1.2em;
    color: black;
    max-width: auto;
    margin: 40px auto;
}


@media (max-width: 768px) {
    .main-conteiner {
        grid-template-columns: repeat(3, 1fr); 
    }
    .name {
        font-size: 0.9em;
    }
}


@media (max-width: 480px) {
    .main-conteiner {
        grid-template-columns: 1fr; 
    }
    .name {
        font-size: 0.8em;
    }
}
